<h1>Add Client</h1>
<form action="/clients/new" method="post">
  <label for="client-name">Client name:</label>
  <input id="client-name" name="client-name" type="text">
  <select name="stylist-id">
    @foreach (var stylist in Model)
    {
      <option value="@stylist.GetId()">@stylist.GetName()</option>
    }
  </select>
  <button type="submit">Add Client</button>
</form>
<br>
<a href="/">Home</a>
<a href="/clients">View all clients</a>
