@if (@Model.Count == 0)
{
  <h1>Please Add a client</h1>
}
else
{
  <h4>Add new Client</h4>
  <ul>
    @foreach (var client in Model)
    {
      <li>@client.GetName()</li>
    }
  </ul>
  <form action="/clients/delete" method="post">
    <button type="submit">Clear</button>
  </form>
}
<h3><a href="/clients/new">Add</a></h3>
<h3><a href="/">Home</a></h3>
