<h1>Enter Client information</h2>
<br>
<br>
<form action="/clients/new" method="post">
  <label for="client-name">Client Name</label>
  <input id="client-name" name="client-name" type="text">
  <button type="submit">Add new client</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/clients">View all clients</a></p>
