<h1>Hair Salon Database</h1>


<h3>Click bleow to view stylist</h3>

<h4><a href ="/stylists">Stylist</a></h4>
<br>

<h4>Click bleow for our list of clients</h4>

<h4><a href ="/clients"> Clients</a></h4>
