<h1>List</h1>

<h2>Make Changes to your Stylist @Model.GetName()</h2>
<form action="/stylist/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="stylist-id" type="hidden" value="@Model.GetId()">
  <label for="stylist-name">Stylist name</label>
  <input id="stylist-name" name="stylist-name" type="text">
  <button type="submit">Submit</button>
</form>
<br>
<h2><a href="/">Home</a></h2>
